
body{
	margin:0px 0px 0px 0px;
    background:transparent;
    background-size: cover;
} 

.link_btn{
		background:transparent;		
		outline:none;
		text-transform:uppercase;
		font-size:14px;
		text-decoration:none;
		color:#fff;
}
.link_btn a:link{
		color:#fff;
		padding:5px 15px 5px 15px;
		background:#1c330e;
		border-radius: 3px;	
		font-family: 'Open Sans', sans-serif;
		outline:none;
}
.link_btn a:hover{
		color:#fff;
		outline:none;

}
#alg {
	background:;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
