.banner-bottom{
	padding:0 0;
	margin-top: 2em;
}
.banner-bottom h3{
	font-size:1.5em;
	color:#212121;
}


/*-- body --*/
body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
    background-size: cover;
}
/*
body a,input[type="submit"],a,.w3ls_footer_grid_left1_pos ul li a i{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
	text-decoration:none;
}
*/
body a:hover{
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0; 
	font-family: 'Bitter', serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
p,ul li,ol li{
	font-size:14px;
}
.agileits_head{
	text-align:center;
	font-size:2em;
	color:#fff;
	position:relative;
}
.agileits_head i{
	display:block;
	color:#ffff00;
    font-size: 25px;
    display: block;
}
.agileits_head:before,.agileits_head:after{
	content: " ";
    position: absolute;
    top:80%;
    width: 10%;
    height: 2px;
    background: #ffff00;
}
.agileits_head:before{
	left:36%;
}
.agileits_head:after{
	right:36%;
}
.agileits_head1{
	text-align:center;
	font-size:2em;
	color:#fff;
	position:relative;
}
.agileits_head1 i{
	display:block;
	color:#f44336;
    font-size: 25px;
    display: block;
}
.agileits_head1:before,.agileits_head1:after{
	content: " ";
    position: absolute;
    top:80%;
    width: 10%;
    height: 2px;
    background: #f44336;
}
.agileits_head1:before{
	left:36%;
}
.agileits_head1:after{
	right:36%;
}
.w3_agileits_head{
	color:#21522a !important;
}
.w3_agileits_head1{
	color:#333333 !important;
}
/*-- //body --*/

/*-- menu --*/
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 30;
	background-color: rgba(0, 0, 0, 0.7);
}
.mobile-side-menu {
	width: 240px;
	display: none;
	background-color: #1b1b1b;
	bottom: 0px;
	z-index: 30;
	overflow-x: hidden;
	overflow-y: hidden;
	/* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}
.mobile-side-menu ul {
	float: none;
	display: inline-block;
	margin: auto;
	width: 100%;
	background-color: #1b1b1b;
	border-radius: 0px;
	list-style: none;
}
.mobile-side-menu ul > li {
	text-align: left;
}
.mobile-side-menu ul > li > a {
	text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    position: relative;
    display: block;
    font-size: 14px;
    color: white;
    padding:1em 2em;
    font-weight: 600;
    border-bottom: solid 1px #3f3f3f;
	font-family: 'Open Sans', sans-serif;
}
.mobile-side-menu ul > li > a:hover,.mobile-side-menu ul > li.active > a{
	background:#fff;
	color:#212121;
}
.mobile-side-menu ul > li.active > a i,.mobile-side-menu ul > li > a:hover i{
	color:#cf0000;
}
.mobile-side-menu ul > li > a > i {
    padding-right: 1em;
    color: #f4b305;
}
.mobile-side-menu ul > li:first-child{
	padding-top:1em;
}
/*-- //menu --*/

/* navbar */
.navbar {
	float:left;
	background-color:#eff9de;  /*#ededed;      b50a06*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5em 0em 0.4em 0em;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
	margin-bottom: 0;
	border-top: 2px solid #f44336;
	border-radius: 0px;
}
.agile_container{
	padding:.5em 2em;
}
.w3_agile_nav_main_left{
	float:left;
}
.toggleMenu {
    background: #1f5404;
    border: 2.5px solid #1f5404;
    padding: 5px 30px;
	outline: none;
	cursor: pointer;
	border-radius: 0px;
}
.toggleMenu a{
	outline:none;
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
}
.w3_agile_nav_main_right{
	float:right;
	margin-top:-10px;
	z-index: 999;
}
/* //navbar */

/*-- barra verde --*/
.agileinfo_logo{
	padding: 4.5em 0 .5em;
    text-align: center;
    background: #80b03e;
}
.agileinfo_logo h1 a{
	font-size:1.2em;
	color:#fff;
	text-decoration:none;
	position:relative;
	display: inline-block;
}
.agileinfo_logo h1 a span:before,.agileinfo_logo h1 a span:after{
	content:'';
	background:url(../images/1.png) no-repeat 0px 0px;
	display:block;
	height:32px;
	width:32px;
	position:absolute;
	top:-3%;
}
.agileinfo_logo h1 a span:before{
	left:-25%;
}
.agileinfo_logo h1 a span:after{
	right:-25%;
}
.agileinfo_logo h1 a span{
	display: block;
    font-size: .3em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: .7em 0;
    width: 70%;
    position: relative;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0 auto;
}
/*-- //barra verde --*/

/*-- barra titulo --*/
.breadcrumbs{
	padding:.5em 0;
	background:#ededed; 
}
.w3layouts_breadcrumbs_left5 ul li {
	font-size: 13px;
	list-style-type:none;
	padding:0.1em 0;
	font-weight: bold;
	color:#212121;
}
/*-- //barra titulo --*/

/*-- redes sociais --*/
.redes{
    background: #175427;
	margin-top:70px;
}
.agileits-social-grids {
	text-align:center;
}
.agileits-social-grids ul {
    padding: 0.5em;
    margin: 0.5em;
}
.agileits-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.agileits-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.agileits-social-grids ul li a i.fa {
    height: 30px;
    width: 30px;
    line-height: 30px;
	border: solid 1px #FFFFFF;
	color: #FFFFFF;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits-social-grids ul li a i.fa.fa-facebook {
    border: solid 1px #fff;
	border-radius: 0px;
	background:#0e41e2;
    color: #FFFFFF;	
}
.agileits-social-grids ul li a i.fa.fa-instagram {
    border: solid 1px #fff;
	border-radius: 0px;
	background:#a633b4;
    color: #ffffff;
	
}
.agileits-social-grids ul li a i.fa.fa-facebook:hover {
    border: solid 1px #0e41e2;
	border-radius: 0px;
	background:transparent;
    color: #0e41e2;
}
.agileits-social-grids ul li a i.fa.fa-instagram:hover{
    border: solid 1px #a633b4;
	border-radius: 0px;
	background:transparent;
    color: #a633b4;
}
/*-- //redes sociais--*/

/*-- copiright--*/
.copy{
	background:#175427;		
	text-align:center;
	color:#cacaca;
	font-family: 'Open Sans', sans-serif;
	font-size:9px;
	padding-bottom:1.5em;
	width:100%;
	padding-top:0em;		
}
/*-- //copiright--*/

/*-- responsivo --*/
@media (max-width:1024px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}	
}
@media (max-width:768px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}
	.agileinfo_logo h1 a {
		font-size: 1em;
	}	
	.agileinfo_logo h1 a span {
		width: 80%;
	}	
}
@media (max-width:736px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}	
	.mobile-side-menu ul > li > a {
	padding: 0.5em 2em;
	}	
}
@media (max-width:667px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}	
	.mobile-side-menu ul > li > a {
		font-size: 12px;
	}
}
@media (max-width: 640px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}	
	.mobile-side-menu ul > li > a {
		padding: 1em 2em;
	}
	.mobile-side-menu ul > li:first-child {
		padding-top: 1.3em;
	}
	.w3_agile_nav_main_right {
		margin-top: -10px;
	}
	.agileinfo_logo h1 a {
		font-size: .9em;
	}
	.agileits_head {
		font-size: 1.8em;
	}
	.agileits_head:before {
		left: 32%;
	}
	.agileits_head:after {
		right: 32%;
	}
	.agileits_head:before, .agileits_head:after {
		width: 15%;
	}
	.agileits_head1 {
		font-size: 1.8em;
	}
	.agileits_head1:before {
		left: 32%;
	}
	.agileits_head1:after {
		right: 32%;
	}
	.agileits_head1:before, .agileits_head1:after {
		width: 15%;
	}
}
@media (max-width: 600px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}
	.mobile-side-menu ul > li > a {
		padding: 0.7em 2em;
	}	
}
@media (max-width: 568px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}
	.mobile-side-menu {
		width: 165px;
	}
	.mobile-side-menu ul > li > a {
		padding: 0.1em 2em;
	}	
}
@media (max-width: 480px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}
	.mobile-side-menu ul > li > a {
		padding: 1em 2em;
	}	
	.agileinfo_logo h1 a {
		font-size: .8em;
	}
	.agileinfo_logo h1 a span:before, .agileinfo_logo h1 a span:after {
		top: -33%;
	}
	.agileinfo_logo {
		padding: 4.5em 0 0em;
	}
	.agileits_head:before, .agileits_head:after {
		width: 25%;
	}
	.agileits_head:after {
		right: 20%;
	}
	.agileits_head:before {
		left: 20%;
	}
	.agileits_head1:before, .agileits_head1:after {
		width: 25%;
	}
	.agileits_head1:after {
		right: 20%;
	}
	.agileits_head1:before {
		left: 20%;
	}
	
}
@media (max-width: 414px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}
	.mobile-side-menu ul > li > a {
		padding: 1em 2em;
	}
	.agile_container {
		padding: .5em 1em;
	}
	.agileits_head {
		font-size: 1.6em;
	}	
}
@media (max-width: 384px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}
	.mobile-side-menu ul > li > a {
		padding: 1em 2em;
	}
}
@media (max-width: 375px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}
	.mobile-side-menu ul > li > a {
		padding: 1em 2em;	
	}
}
@media (max-width: 370px){
	.w3layouts_breadcrumbs_left5 ul li {
		font-size: 13px;
		list-style-type:none;
		padding:0.1em 0;
		font-weight: bold;
		color:#212121;
	}
	.mobile-side-menu ul > li > a {
		padding: 1em 2em;
	}	
	.toggleMenu a {
		font-size: 13px;
	}
	.toggleMenu {
		padding: 4px 25px;
	}
	.breadcrumbs{
		background:#ededed;
		text-align:left;
	}
	.w3_agile_nav_main_right {
		margin-top: -10px;
	}	
	.agileinfo_logo h1 a {
		font-size: .7em;
	}
	.agileinfo_logo h1 a span:before {
		left: -20%;
	}
	.agileinfo_logo h1 a span:after {
		right: -20%;
	}
	.agileinfo_logo h1 a span:before, .agileinfo_logo h1 a span:after {
		background: url(../images/1.png) no-repeat 0px 4px;
		background-size: 100%;
		height: 25px;
		width: 20px;
	}
	.agileits_head {
		font-size: 1.4em;
	}
	.agileits_head i {
		font-size: 16px;
	}
	.agileits_head1 {
		font-size: 1.4em;
	}
	.agileits_head1 i {
		font-size: 16px;
	}
}

